/* Start of Partial Content */
$myRed: #ef1f0f;
$myGreen: #00ff00;
$myBlue: #0f1fef;
li {
	a {
		color: $myGreen;
	}
	b {
		color: $myRed;
	}
}

@mixin myMix($myVar) {
	background-color: $myVar;
	color: $myVar;
}

p {
	/*display: none;*/
	@include myMix($myBlue);
	font-style: italic;
}

ul {
	list-style-type: upper-roman;
	li { color: blue; }
	nav & { list-style-type: square; }
	footer & { list-style-type: decimal-leading-zero; }
}
